.navigationBox {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 25px;
  font-weight: 700;
  color: rgb(32, 31, 31);
  transition: color 300ms ease, background-color 300ms ease;
}
.link a {
  vertical-align: middle;
}
.link:first-child {
  margin-right: 10px;
}
.link:hover,
.link:focus {
  background-color: rgb(235, 143, 22);
  color: rgb(248, 248, 248);
}

.link.activeLink {
  background-color: rgb(19, 0, 102);
  color: rgb(248, 248, 248);
}
