.headerBox {
  margin-bottom: 40px;
  min-width: 75%;
  background-color: #faf5f5;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 20px 30px;
  justify-items: center;
  border-radius: 20px;
  background-color: #faf5f5;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.navigationBox {
  display: grid;
  grid-template-columns: auto 1fr;
  min-width: 90%;
  justify-items: end;
}
